:root {
  --green_base: #00d890;
  --green-action: rgb(117, 199, 147);
  --red_base: #d82400;
  --red_action: #f44826;
  --blue_base: #00b4d8;
  --blue_action: #43d1ed;
  --neutral_100: #ddd;
}

html {
  min-height: 100%;
}

body {
  color: #f8f9fa;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.319),rgba(0, 0, 0, 0.259)) , url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30% !important;
}

.bg-info {
  background-color: var(--blue_base) !important;
}

.btn-info {
  background-color: var(--blue_base) ;
  border-color: var(--blue_base);
}

.btn-info:hover {
  background-color: var(--blue_action);
  border-color: var(--blue_action);
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-outline-light:hover {
  color: #0dcaf0;
}

.nav-link:hover, .nav-link:focus {
  color: black;
  font-weight: bold;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.btn-important {
  background-color: rgb(252, 184, 58);
  border: 1px solid rgb(252, 184, 58);
}

.btn-success {
  background-color: var(--green_base);
  border-color: var(--green_base);
}

.btn-success:hover {
  background-color: var(--green-action);
  border-color: var(--green-action);
}

.btn-danger {
  background-color: var(--red_base);
  border-color: var(--red_base);
}

.btn-danger:hover {
  background-color: var(--red_action);
  border-color: var(--red_action);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
  color: black;
  font-weight: bold;
}

.text-small {
  color: #0dcaf0;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0dcaf0;
  transition: 0.6s ease;
}


.nav-bottom {
  position: absolute !important;
  bottom: 100% !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  transition: 250ms ease-in-out;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: rgba(24, 24, 24, 0.591) 0 2px 3px 0px;
}

.avatar {
  width: 23%;
  transition: 250ms ease-in-out;
}

.avatar:hover {
  transform: translateY(-5px);
  box-shadow: rgba(24, 24, 24, 0.591) 0 5px 5px 1px;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}

.avatar-container > a {
  display: block;
  display: flex;
  justify-content: center;
}

#backButton {
  color: #fff;
  background-color: transparent;
  border: none;
  margin-left: 1.5rem;
  margin-top: 1rem;
  transition: 200ms ease-in-out;
}

#backButton:hover {
  transform: scale(1.2);
}