html {
  min-height: 100%;
}


.bg-info {
  background-color: #00b4d8 !important;
}

.w-25 {
  width: 125px !important;
}

.btn-info:hover {
  color: #0dcaf0;
  border-color: white;
  background-color: white;
}

.btn-success:hover {
  color: #157347;
  background-color: rgb(117, 199, 147);
  border-color: #146c43;
  border-width: 2px;
}

.btn-danger:hover {
  color: #bb2d3b;
  background-color: rgb(227, 153, 153);
  border-color: #b02a37;
  border-width: 2px;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
  color: black;
  font-weight: bold;
}

.text-small {
  color: #0dcaf0;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0dcaf0;
  transition: width 0.6s ease;
}

body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav-bottom {
  position: absolute !important;
  bottom: 100% !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 80px;
  height: 80px;
}

.wrapper {
  /* padding-right: 20%; */
  color: black;
  text-decoration: none;
}

.label {
  margin-left: 2vw;
  /* justify-self: center; */
  margin-bottom: 0;
  width: 11ch;
}

.btn-space {
  padding-right: 10px;
}

.btn-size {
  padding: 5px 12px;
}

.list-group-item .nav-link:hover {
  transform: translateY(-5px);
}

.tag-container {
  text-align: right;
}

.button-wrapper {
  padding-top: 2rem;
  text-align: center;
}
#moreTips {
  background-color: rgb(252, 184, 58);
  border: 1px solid rgb(252, 184, 58);
  /* margin: auto; */
}

li {
  list-style-type: none;
}

.matched {
  color: coral !important;
  text-decoration: wavy;
}
