html {
  min-height: 100%;
}


.bg-info {
  background-color: #00b4d8 !important;
}

.btn-info:hover {
  color: #0dcaf0;
  border-color: white;
  background-color: white;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.nav-link:hover, .nav-link:focus {
  color: black;
  font-weight: bold;
}

.text-small {
  color: #0dcaf0;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0dcaf0;
  transition: width 0.6s ease;
}

body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav-bottom {
  position: absolute !important;
  bottom: 100% !important;
}

/* .avatar {
  min-height: 5rem !important;
  max-width: 5rem !important;
  max-height: 5rem !important;
  min-width: 5rem !important;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 100px;
  height: 100px;
}

.wrapper {
  /* padding-right: 20%; */
  color: black;
  text-decoration: none;
}

.label {
  margin-left: 3vw;
  /* justify-self: center; */
  margin-bottom: 0;
}

.btn-space {
  padding-right: 10px;
}

.btn-size {
  padding: 5px 12px;
}
/* .flex-wrapper {
  marg
} */

