.thumbnail-image {
  width: 80px;
  height: 80px;
}

.wrapper {
  /* padding-right: 20%; */
  color: black;
  text-decoration: none;
}

.label {
  margin-left: 2vw;
  /* justify-self: center; */
  margin-bottom: 0;
  width: 11ch;
}

.btn-space {
  padding-right: 10px;
}

.btn-size {
  padding: 5px 12px;
}

.list-group-item .nav-link:hover {
  transform: translateY(-5px);
}

.tag-container {
  text-align: right;
}

.button-wrapper {
  text-align: center;
}

li {
  list-style-type: none;
}

.btn-info {
  color: aliceblue;
  background-color: var(--blue_base) ;
  border-color: var(--blue_base);
}

.btn-info:hover {
  color: aliceblue;
  background-color: var(--blue_action);
  border-color: var(--blue_action);
}

.matched {
  color: coral !important;
  text-decoration: wavy;
}