body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

label:hover {
  background-color: white;
}

.bg-info {
  background-color: #00b4d8 !important;
}

.btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-info:hover {
  color: #00b4d8;
  background-color: white;
  border-color: white;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-outline-light:hover {
  color: #0dcaf0;
}

.nav-link:hover, .nav-link:focus {
  color: black;
  font-weight: bold;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

