body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh 50vh;
}

#profileIcon {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

#pref {
  text-align: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#friend {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 30% 30%;
  text-align: left;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#fT {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#f1 {
  text-align: left;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#f2 {
  text-align: left;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

#f3 {
  text-align: left;
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

#progress {
  text-align: center;
}