body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.btn-info:hover {
  color: #0dcaf0;
  border-color: white;
  background-color: white;
}
