h1 {
  color: #111;
}

#progress-content {
  background-color: white;
  margin: 0 40px;
  padding-bottom: 10px;
  opacity: 0.7;
  white-space: nowrap;
  border-radius: 10px;
}

#insert-progress-here {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}