body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}


.bg-info {
  background-color: #00b4d8 !important;
}

.nav-link:hover, .nav-link:focus {
  color: black;
  font-weight: bold;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.btn-info:hover {
  color: #00b4d8;
  border-color: white;
  background-color: white;
}

.btn-light {
  color: white;
  border-color: black;
  background-color: black;
}

.btn-light:hover {
  color: #000;
  border-color: white;
  background-color: white;
}

.btn-danger:hover {
  color: red;
  border-color: white;
  background-color: white;
}

